!!! 5
  html(ng-app='MyApp')
    head
      title= title
      link(rel='stylesheet', href='/stylesheets/style.css')
      script(src='/vendor/angular/angular.min.js')
      script(src='/assets/scripts/admin.js')
      body
