doctype html
html(ng-app='BlogPost')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/vendor/angular/angular.min.js')
    script(src='/assets/scripts/blog.js')
    body
      h1 is my blag
