doctype html
html(ng-app='BlogPost')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/blog.css')
    script(src='/vendor/angular/angular.min.js')
    script(src='https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js')
    script(src='/assets/scripts/blog.js')
    body
      header
        ul
          li.hvr-shutter-out-horizontal 
            a(href='/') HOME
          li.hvr-shutter-out-horizontal
            a ARCHIVE
          li.hvr-shutter-out-horizontal
            a CONTACT
      h1 Come Node With Me
      div.post-container
        div.post
          p.date Posted on 
            span= util.dateString(postDate)
          if editDate  
            p.editDate (EDITED ON #[span= util.dateString(editDate).toUpperCase() + ')']
          h3= header
          p!= postBody
          include ./widgets/pagination

            
            
    
    
    link(rel='stylesheet', href='/stylesheets/desert.css')
