doctype html
html(ng-app='MyPortfolio')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel="stylesheet", href="/stylesheets/v-modal.min.css")
    script(src='/vendor/jquery.min.js')
    script(src='/vendor/masonry/jquery-bridget.js')
    script(src='/vendor/masonry/ev-emitter.js')
    script(src='/vendor/masonry/matches-selector.js')
    script(src='/vendor/masonry/utils.js')
    script(src='/vendor/masonry/get-size.js')
    script(src='/vendor/masonry/item.js')
    script(src='/vendor/masonry/outlayer.js')
    script(src='/vendor/masonry/masonry.js')
    script(src='/vendor/masonry/imagesloaded.js')
    script(src='/vendor/angular/angular.min.js')
    script(src='/vendor/angular/angular-animate.min.js')
    script(src="/vendor/masonry/angular-masonry.min.js")
    script(src='/vendor/angular/sticky.min.js')
    script(src='/vendor/angular/v-modal.js')
    script(src='/assets/scripts/client.js')
    body
      //- TODO: wassup with the width: only happens with dev tools thoooooo
      div.menu(ng-controller="TrayController", ng-class="hide")
        div.tray
          a(href="https://www.linkedin.com/in/kylebjohnsonmn", target="_blank")
            i.fa.fa-linkedin-square.fa-4x
          a(href="http://www.github.com/joh04667", target="_blank")
            i.fa.fa-github.fa-4x
          a(href="http://stackoverflow.com/users/5683579/joh04667" target="_blank")    
            i.fa.fa-stack-overflow.fa-4x
          a(href="mailto:joh04667@gmail.com", target="_blank")
            i.fa.fa-envelope.fa-4x
      div.banner
        h1 Full-stack developer.
          br
          span Hi! I help make the Internet.
      div.container
        div.scroll-notify(ng-controller="scroll")
          div(ng-show="scrollTick")
            h5 Don't be shy. Scroll Down!
            i.fa.fa-chevron-down
        div.showcase-title
          h2 Check out the cool stuff I've worked on:
        div.showcase
          div(masonry)
            div.masonry-brick
              img(src="images/disko.png")
            div.masonry-brick
              img(src='images/blindes.png')
            div.masonry-brick
              img(src='images/banana.png')
      div#contact
        div.footer
          h5 Ⓒ 2016 Kyle B Johnson
