@import "style";


h2 {
  color: $white;
  padding: 15px;
}

pre {
  background-color: $black;
  color: $white;
  margin: 0 15px;
}

ol {
  margin: 0;
}

.post-list {
  margin: auto 30px;
  background-color: $white;
  color: $black;
  max-height: 250px;
  overflow: scroll;
}

form {
  margin: 50px;
}

input{
  display: block;
  margin: 30px auto;
  width: 75%;
  min-height: 30px;
}

trix-editor {
  background-color: $white;
  margin: 20px;
  font-size: 2em;
  max-height: 80vh;
  overflow: scroll;
}

v-dialog {
  margin-bottom: 50px;
  trix-editor {
    max-height: 70vh;
  }
}

li {
  &:nth-child(even) {
    background-color: #A9A9A9;
  }
  p {
    display: inline-block;
  }
  span {
    font-size: .75em;
    margin-left: 15px;
  }
  button, a {
    margin: 0 10px;
    float: right;
  }
}

h5 {
  display: inline-block;
  padding: 5px;
}

md-input-container {
  width: 100%;
  font-size: 3em;
  font-weight: bold;
}
