@import "style";


h2 {
  color: $white;
}

.post-list {
  margin: auto 30px;
  background-color: $white;
  color: $black;
}

input{
  display: block;
  margin: 30px auto;
  width: 75%;
  min-height: 30px;
}

trix-editor {
  background-color: $white;
  margin: 20px;
}
