$font-stack: 'Raleway', sans-serif;

$white: #E0E0E0;
$black: #363636;
$github: #C97EEF;
$stackoverflow: #F47F23;
$linkedin: #006699;
$grey: #999;
$darkgrey: #6d6d6d;

$border: 0 4px 4px;
$hover-shadow: 1px 0 20px;

$brick1: 360px;
$brick2: 175px;

$phone-min: 320px;
$phone-max: 480px;
$tablet-min: 768px;
$tablet-max: 979px;
$desktop-min: 980px;

html, body {
  height: 100%;
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: $font-stack;
  background-color: $black;
  font-size: 62.5%;
}

p, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1 {
  color: $white;
  font-weight: bold;
  font-size: 10em;
  line-height: 0.8em;
}

h2 {
  font-size: 6em;
  font-weight: bold;
}

h5 {
  font-size: 2.5em;
}


.menu {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 100;
  .fa {
    padding: 5px 10px 10px;
    transition: text-shadow 0.35s ease-out;
    text-decoration: none;
    -webkit-stroke-width: 5.3px;
  }
    .tray {
      display: inline-block;
      position: relative;
      padding: 0 3em;
      margin: 0 2em;
      background-color: transparent;
      border-radius: 25px;
      color: $white;
      a {
        text-decoration: none;
        color:inherit;
      }
      &:before {
        content : '';
        position : absolute;
        top : 0;
        right : 0;
        bottom : 0;
        left : 0;
        z-index: -1;
        background: $black;
        transform: perspective(4px) rotateX(-1deg);
        border-radius: 0 0 15px 15px;
        border: 1px double $white;
        border-top: none;
        }
    }
}

.fa-github:hover {
  text-shadow: $hover-shadow $github;
}
.fa-stack-overflow:hover {
  text-shadow: $hover-shadow $stackoverflow;
}
.fa-linkedin-square:hover {
  text-shadow: $hover-shadow $linkedin;
}
.fa-envelope:hover {
  text-shadow: $hover-shadow cyan;
}

.banner {
  background: url('../images/blue-blur.jpg') no-repeat fixed center;
  height: 100vh;
  width:100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: -100;
  min-height: 600px;
  display: table;
    h1 {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      animation: fadeInUp .6s .5s ease both;
      text-shadow: $border $black;
        span {
          color: $black;
          font-size: 0.5em;
          text-shadow: none;
        }
    }
}

.scroll-notify {
  position: relative;
  display: block;
  top: -100px;
  left: 0;
  height: 100px;
  width: 100%;
  text-align: center;
  color: $white;
  h5, i {
    animation: fadeInUp .6s .5s ease both;
    text-shadow: $border $black;
  }
  h5 {
    margin-bottom: 10px;
  }
  i {
    font-size: 20px;
    animation: vertical-bob 2.5s ease;
    animation-iteration-count: infinite;
  }
}

.container {
  margin: 100vh 0 0 0;
  padding: 0 25px;
  background-color: $white;
  padding: 0;
  box-shadow: rgba(35,35,50,0.8) 0px 0px 20px -2px;
}

.showcase-title {
  color: $grey;
  text-align: center;
  margin: 0 auto 60px auto;
}

.showcase {
  // TODO: hate this div
  width: 960px;
  // height: 100%;
  margin: 0 auto;
}

.masonry-brick {
  // overflow: scroll;
  margin: 5px;
  img {
    box-shadow: inset 0 0 50px rgba(0,0,0,0.75);
  }
}

#contact {
  height: 500px;
  width: 100%;
  background: url('../images/bg-texture.png') repeat;
}

.footer {
  color: $darkgrey;
  text-align: center;
}







@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes vertical-bob {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
